#git+https://github.com/opentelekomcloud-community/otc-api-sign-sdk-python
huaweicloudsdksmn==3.1.196
esdk-obs-python @ git+https://github.com/huaweicloud/huaweicloud-sdk-python-obs.git#egg=esdk-obs-python\&subdirectory=src
